{% extends 'base.html' %}

{% block content %}
    <h1>Sobre Mim</h1>

    <p>Olá! Eu sou <strong>Raissa Raiana</strong>, Analista de Marketing com foco em Inteligência de Mercado, Análise de Dados e Automação.</p>

    <p>Atuo na <strong>Cellere</strong> e estou em transição para a área de Dados, estudando Python, SQL, Power BI e Django.</p>

    <p>Além disso, sou chefe jovem escoteira no 44º GE Copacabana.</p>

    <p>📌 Conecte-se comigo:</p>

    <a href="https://www.linkedin.com/feed/?trk=guest_homepage-basic_nav-header-signin" target="_blank" class="linkedin-button">
        <i class="fa-brands fa-linkedin"></i> Acessar meu LinkedIn
    </a>
{% endblock %}
